.project {
  display: flex;
  margin-bottom: 30px;
  transition: transform 0.3s ease;
}
.dash-lines {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.dash-line {
  width: 20px;
  height: 2px;
  background-color: #ccc;
  margin: 0 5px;
}

.dash-line.active {
  background-color: #7127ba;
}
.proj-head h1 {
  text-align: center;
  font-size: 40px;
  color: white;
  margin-bottom: 50px;
  margin-top: 50px;
  font-family: Poppins, serif;
}

.project-details {
  flex: 1;
  margin-left: 15vw;
  color: white;
  font-family: Poppins, serif;
}

.project-name {
  font-size: 30px;
  color: #7127ba;
  margin-bottom: 8px;
  font-family: Poppins, serif;
}

.tech-stack-proj {
  display: flex;
  flex-wrap: wrap;

  margin-bottom: 10px;
  margin-left: 0px;

  max-width: 500px;
}

.tech-stack-item {
  padding: 5px;
  margin-right: 10px;
  margin-bottom: 20px;
  border: 1px solid #7127ba;
  border-radius: 5px;
}

.buttons {
  display: flex;
}

.demo img {
  margin-top: -10px;
  margin-left: -10px;
  width: 55px;
  height: auto;
}

.git img {
  margin-top: -8px;
  width: 50px;
  height: auto;
}

.project-image {
  width: 500px;

  margin-right: 15vw;
  position: relative;

  border-left: 20px solid #2b0b3a;
  border-top: 20px solid #2b0b3a;
  box-sizing: border-box;
  filter: drop-shadow(0 0 8em #7127ba);
}
.project-image:hover {
  transform: scale(1.05);
}
.project-image img {
  width: calc(100%);
  height: auto;
}
.controls {
  text-align: center;
  margin-top: 0px;
}
.controls button {
  margin: 0 10px;
  padding: 10px 20px;
  background-color: #7127ba;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 100px;
}

.proj-desc {
  background-color: rgba(105, 59, 137, 0.3);
  padding: 5px;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  font-family: Poppins, serif;
  position: relative;
  z-index: 1;
  margin-right: -60px;
}

.proj-desc p {
  color: white;
  font-family: Poppins, serif;
}

.carousel {
  width: 100%;
  transition: transform 0.3s ease;
}

@media (max-width: 768px) {
  .project {
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s ease;
  }

  .project-image {
    width: 300px;
    margin-right: 0;
  }
  .project-details {
    margin-left: 0;
    align-items: center;
    max-width: 280px;
  }
  .proj-head h1 {
    margin-bottom: 30px;
  }

  .project-name {
    font-size: 20px;
    color: #7127ba;
  }

  .proj-desc {
    max-width: 280px;
  }

  .demo img {
    margin-top: -8px;
    margin-left: -5px;
    width: 40px;
    height: auto;
  }

  .git img {
    margin-top: -6px;
    width: 35px;
    height: auto;
  }
  .controls button {
    margin-bottom: 70px;
  }

  .carousel {
    transition: transform 0.3s ease;
  }
}
